<div fxLayout="row" fxFlexFill>
  <mat-toolbar
    class="navbar-color mat-elevation-z8 p-0 toolbar-position"
    fxLayout="row"
    fxLayoutAlign="start stretch"
    style="
      z-index: 2;
      border-bottom: 2px solid #fd8a02;
      background-color: #fff;
      box-shadow: 0px 2px 8px #ffe5c6;"    
  >
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="15px"
      class="pl-3"      
    >     
      <img
        class="page-logo-img"
        alt="VERIVOX - Die Tarifexperten."
        style="height: 24px"
        src="https://static.verivox.de/assets/images/navigational-elements/logo/logo-97c13998e7.png"        
      />       
      <label _ngcontent-c1="" style="color:#fd8a02;margin-left: 10px;">#1 Trusted Electricity Products Provider</label>
    </div>
    <span fxFlex></span>
  </mat-toolbar>
</div>
