<!-- <div class="bg-blue footer-div">
  <span><a title="About Us" routerLink="plasma-info">Know more about plasma |</a></span>
  <span><a title="About Us" routerLink="about">About Us</a></span>
  <span class="footer-msg">Copyright &copy; 2020. All rights reserved. <i> Made with ♥︎ in India</i></span>
</div> -->

<div class="container-fluid footer-div justify-content-center">
    <div class="row">
        <div class="footer">
            <span>Copyright &copy; 2021. All rights reserved.</span>
        </div>
    </div> 
    
  </div>